.playingCard {
  min-width: 18rem;
  max-width: 18rem;
  background-color: gold;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.baseball-background {
  background-image: url('./baseball-background.png');

    min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
